%h1 Listing transactions

= render 'table', :locals => @transactions

%br

= link_to 'New Transaction', new_transaction_path

= javascript_include_tag 'jquery.dataTables'
= javascript_tag "$(document).ready(function() { $('#transactions').dataTable();} );"
